.Header {
  display: flex;

  &__container {
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 70%;
  }

  &__arrow {
    font-size: 175%;
    display: flex;

  }

  &__logo {
    display: flex;
    margin: auto;
    max-width: 60%;
  }
}

.Img__Card {
  display: flex;
  margin: auto;
  max-height: 27rem;
  width: 100%;
  object-fit: cover;

  @media (min-width: 651px) {
    max-width: 75%;
  }

  @media (max-width: 650px) {
    max-width: 100%;
  }
}

.command__btn {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 12px 40px;
  font-size: 0.8rem;
}

.Menu {
  margin: auto;
  margin-top: -8rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;

  &__header {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-family: "Shrikhand", "cursive";
  }

  &__icon {
    background-color: #f6f6f6;
    transition: 0.2s;
    position: absolute;
    height: 100%;
    width: 100%;
    display:flex;
    mix-blend-mode: lighten;
  }

  &__container {
    display: grid;

    @media (min-width: 951px) {
      grid-template-columns: repeat(3,1fr);
      column-gap: 1rem;
    }

  }

  @media (min-width: 651px) {
    width: 75%;
  }

  @media (max-width: 650px) {
    width: 100%;
  }
}

.Tray {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;

  &__title {
    position: relative;
    padding-bottom: 1em;
    color: #4d4d4d;

    &::after {
      position: absolute;
      content: "";
      background: $color-tertiary;
      bottom: 0;
      left: 0;
      right: 90%;
      top: 2em;
    }
  }
}

.MenuItem {
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 2px 2px 1px 1px #dddddd;
  display: flex;
  margin: 1rem 0;
  overflow: hidden;
  padding: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  animation: MenuPop .6s;
  animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
  animation-fill-mode: both;

  &:hover {
    white-space: nowrap;
  }

  &__header {
    overflow: hidden;
    flex: 1;
  }

  &__title {
    margin: 0;
    font-size : 90%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__description {
    color: #4d4d4d;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 70%;
  }

  &__price {
    font-weight: bold;
    display: flex;
    align-self: flex-end;
  }

  &__validation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-tertiary;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    height: 4rem;
    transition-duration: 0.6s;
  }

  &:hover &__validation {
    margin-right: -1rem;
  }

  &__bloc {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    transform: rotate(90deg);
    transition-duration: 0.6s;
    justify-content: center;
  }

  &:hover &__bloc {
    transform: rotate(0);
  }

  &__icon {
    color: $color-tertiary;
  }
}

@for $i from 0 to 10 {
  .MenuPop--#{$i} {
    animation-delay: #{$i/10}s;
  }
}
